body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;

}
form {
    text-align: left;
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    margin-left: 25%;
}
img {
    width: 200px;
    height: 200px;
 }
