body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    font-size: large;
}

form {
    text-align: left;
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    margin-left: 25%;
}

img {
    width: 400px;
    height: 200px;
}
